# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\CarpetasPersonales\Santi\politecnica\2º\1º Cuatri\AL\Ejercicios\Modulo2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
